<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>barrels</key>
	<array>
		<dict>
			<key>type</key>
			<string>barrel</string>
			<key>resale</key>
			<integer>1</integer>
			<key>file</key>
			<string>barrel_1.png</string>
			<key>price</key>
			<integer>0</integer>
			<key>owned</key>
			<true/>
			<key>accuracy</key>
			<integer>1</integer>
			<key>title</key>
			<string>Barrel 1</string>
			<key>description</key>
			<string>Beginer barrel</string>
		</dict>
	</array>
	<key>pods</key>
	<array>
		<dict>
			<key>type</key>
			<string>pod</string>
			<key>resale</key>
			<integer>1</integer>
			<key>file</key>
			<string>pod_1.png</string>
			<key>price</key>
			<integer>0</integer>
			<key>owned</key>
			<true/>
			<key>capacity</key>
			<integer>40</integer>
			<key>title</key>
			<string>Pod 1</string>
			<key>description</key>
			<string>Beginer pod</string>
		</dict>
	</array>
	<key>hoppers</key>
	<array>
		<dict>
			<key>type</key>
			<string>hopper</string>
			<key>resale</key>
			<integer>1</integer>
			<key>file</key>
			<string>hopper_1.png</string>
			<key>price</key>
			<integer>0</integer>
			<key>owned</key>
			<true/>
			<key>capacity</key>
			<integer>50</integer>
			<key>title</key>
			<string>Hopper 1</string>
			<key>description</key>
			<string>Beginer hopper</string>
		</dict>
	</array>
	<key>markers</key>
	<array>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_1.png</string>
			<key>owned</key>
			<true/>
			<key>quality</key>
			<integer>1</integer>
			<key>accuracy</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>1</integer>
			<key>resale</key>
			<integer>1</integer>
			<key>price</key>
			<integer>0</integer>
			<key>description</key>
			<string>Old, has-been found in the dumpster out back.</string>
			<key>title</key>
			<string>Marker 1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_2.png</string>
			<key>owned</key>
			<false/>
			<key>quality</key>
			<integer>1</integer>
			<key>accuracy</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>resale</key>
			<integer>10</integer>
			<key>price</key>
			<integer>25</integer>
			<key>description</key>
			<string>Entry level marker</string>
			<key>title</key>
			<string>Marker 2</string>
		</dict>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_3.png</string>
			<key>owned</key>
			<false/>
			<key>quality</key>
			<integer>1</integer>
			<key>accuracy</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>resale</key>
			<integer>10</integer>
			<key>price</key>
			<integer>30</integer>
			<key>description</key>
			<string>Entry level marker</string>
			<key>title</key>
			<string>Marker 3</string>
		</dict>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_4.png</string>
			<key>owned</key>
			<false/>
			<key>quality</key>
			<integer>3</integer>
			<key>accuracy</key>
			<integer>3</integer>
			<key>speed</key>
			<integer>3</integer>
			<key>resale</key>
			<integer>25</integer>
			<key>price</key>
			<integer>100</integer>
			<key>description</key>
			<string>Novice level marker</string>
			<key>title</key>
			<string>Marker 4</string>
		</dict>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_5.png</string>
			<key>owned</key>
			<false/>
			<key>quality</key>
			<integer>5</integer>
			<key>accuracy</key>
			<integer>7</integer>
			<key>speed</key>
			<integer>5</integer>
			<key>resale</key>
			<integer>100</integer>
			<key>price</key>
			<integer>200</integer>
			<key>description</key>
			<string>Intermediate level marker</string>
			<key>title</key>
			<string>Marker 5</string>
		</dict>
		<dict>
			<key>type</key>
			<string>marker</string>
			<key>file</key>
			<string>marker_6.png</string>
			<key>owned</key>
			<true/>
			<key>quality</key>
			<integer>10</integer>
			<key>accuracy</key>
			<integer>10</integer>
			<key>speed</key>
			<integer>10</integer>
			<key>resale</key>
			<integer>300</integer>
			<key>price</key>
			<integer>500</integer>
			<key>description</key>
			<string>Pro marker</string>
			<key>title</key>
			<string>Marker 6</string>
		</dict>
	</array>
</dict>
</plist>
